@font-face{
  font-family: 'googleSans';
  src:url('fonts/GoogleSans-Bold.ttf')
}
@font-face{
  font-family: 'bisonBold';
  src:url('fonts/Bison-Bold.ttf')
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'googleSans';
  font-size: 24px;
  height: 100vh;
  background: #d1d8e2;
}
/* button,.px{
  background: #f1fbf8;
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-family: 'googleSans';
  padding: 10px;
  margin: 5px 10px;
}
p{
  padding: 15px;
  border:2px solid #000;
}
.comp,form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

 */
